@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Geist';
  src: url('@/assets/fonts/geistMono.ttf') format('truetype');
}

.nicer-scrollbar::-webkit-scrollbar {
  @apply h-2 w-2;
}

.nicer-scrollbar::-webkit-scrollbar-track {
  @apply rounded-full bg-transparent;
}

.nicer-scrollbar::-webkit-scrollbar-thumb {
  @apply rounded-full bg-zinc-600;
}

.nicer-scrollbar::-webkit-scrollbar-thumb:hover {
  @apply bg-zinc-600;
}

* {
  transition-duration: 100ms;
  @apply outline-primary;
}

.quiet-input {
  @apply !border-0 !border-transparent;
}

.quiet-input:focus {
  @apply !border-transparent !outline-0 !outline-transparent !ring-0 !ring-transparent;
}

/* hide numeric input's ugly control */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type='number'] {
  -moz-appearance: textfield; /* Firefox */
}

input:focus {
  @apply !border-primary !ring-primary;
}

.primary-panel {
  @apply rounded-md bg-zinc-900;
}

.swap-sub-control-panel {
  @apply rounded-2xl border border-transparent bg-zinc-800 px-4 py-5 hover:border-zinc-700;
}

.swap-sub-static-panel {
  @apply rounded-2xl border border-zinc-700 bg-zinc-800 px-4 py-5;
}

.cute-button {
  @apply border border-zinc-700 hover:border-primary/60 hover:bg-primary/5 hover:text-primary;
}

.swap-main-btn {
  @apply block w-full rounded-2xl bg-primary/20 py-3 text-xl font-medium text-primary hover:bg-primary/30;
}

.swap-main-btn.disabled {
  @apply cursor-not-allowed bg-zinc-800 text-zinc-300/50;
}

.swap-main-border {
  @apply border border-primary/30;
}

.el-loading-spinner .path {
  stroke: #ffa02a !important;
}

.el-loading-spinner .el-loading-text {
  color: #ffa02a !important;
}

.gorgeous-btn-bg-for-btc {
  background: conic-gradient(
    from 90deg at 50% 50%,
    #ffa02a 0%,
    #dff7cc 30%,
    #ff9f2a 100%
  );
  animation: spin 2s linear infinite;
}

.gorgeous-btn-bg-for-mvc {
  background: conic-gradient(
    from 90deg at 50% 50%,
    #38bdf8 0%,
    #4f46e5 30%,
    #38bdf8 100%
  );
  animation: spin 2s linear infinite;
}
