@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Geist';
  src: url('@/assets/fonts/geistMono.ttf') format('truetype');
}

.nicer-scrollbar::-webkit-scrollbar {
  @apply h-2 w-2;
}

.nicer-scrollbar::-webkit-scrollbar-track {
  @apply rounded-full bg-transparent;
}

.nicer-scrollbar::-webkit-scrollbar-thumb {
  @apply rounded-full bg-zinc-600;
}

.nicer-scrollbar::-webkit-scrollbar-thumb:hover {
  @apply bg-zinc-600;
}

* {
  transition-duration: 100ms;
  @apply outline-primary;
}

.quiet-input {
  @apply !border-transparent !border-0;
}

.quiet-input:focus {
  @apply !ring-0 !outline-0 !outline-transparent !ring-transparent !border-transparent;
}

/* hide numeric input's ugly control */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type='number'] {
  -moz-appearance: textfield; /* Firefox */
}

input:focus {
  @apply !border-primary !ring-primary;
}

.primary-panel {
  @apply bg-zinc-900 rounded-md;
}

.swap-sub-control-panel {
  @apply px-4 py-5 bg-zinc-800 rounded-2xl border border-transparent hover:border-zinc-700;
}

.swap-sub-static-panel {
  @apply bg-zinc-800 rounded-2xl border border-zinc-700;
}

.cute-button {
  @apply border border-zinc-700 hover:border-primary/60 hover:bg-primary/5 hover:text-primary;
}
